.header {
  padding: 15px 0;
  background: var(--white);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
  &__link {
    font-size: 20px;
    line-height: 24px;
    color: var(--gren-yellow);
    position: relative;
    cursor: pointer;
    padding: 0 10px;
  }
  &__link:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    background-color: var(--gren-yellow);
    transition: 0.3s;
  }
  &__link:hover {
    color: #00b500;
  }
  &__link:hover::after {
    width: 100%;
  }
  &__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    display: none;

    span {
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--gren-yellow);

      &:first-child {
        top: 0;
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
  }
}
@media (max-width: 1150px) {
  .header {
    &__wrapper {
      position: relative;
      flex-wrap: wrap;
    }
    &__nav {
      display: none;
      width: 100%;
    }
    &__active {
      display: block;
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
    &__menu {
      flex-direction: column;
      gap: 20px;
    }
    &__link {
      display: block;
      border: var(--gren-yellow);
    }
    &__icon {
      display: block;
      margin-left: auto;
      position: absolute;
      top: 25px;
      right: 15px;
    }
  }
}
